header {
  height: 20px;
  /* background: #000; */
}

nav {
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1000;
  background: #fffefe;
  justify-content: space-between;
  transition: 0.3s;
  align-items: center;
  box-sizing: border-box;
}

nav.scrolled {
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 2px 5px rgba(121, 121, 121, 0.1);
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 0px 10px;
}
nav ul li a {
  padding: 5px 10px;
  color: #2e2e2e;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
}
nav ul li a:hover {
  color: #fff;
  border-radius: 5px;
  background: #df2771;
}
.active {
  color: #fff;
  border-radius: 5px;
  background: #df2771;
}

.logo img {
  width: 80px;
  cursor: pointer;
  transition: all 1s;
}

/* SIDE MENU */
.menu {
  cursor: pointer;
  width: 25px;
  display: none;
}
.side-menu {
  width: 100%;
  height: 100%;
  background: rgba(182, 33, 90, 0.993);
  position: absolute;
  top: 0;
  transition: 0.8s;
  z-index: 2000;
  transform: translateX(-100%);
}
.side-menu ul {
  margin-top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: #FA4B37; */
}
.side-menu ul li {
  list-style: none;
  /* background: #009900; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #fff; */
  /* padding: 10px 0px; */
}
.side-menu ul li:hover a {
  background: #fff;
  color: #df2771;
}
.side-menu ul li a {
  color: #fff;
  width: 100%;
  font-size: 1em;
  /* background: #2E3D49; */
  text-decoration: none;
  padding: 15px 0px;
}
.close img {
  float: right;
  width: 35px;
  cursor: pointer;
  margin: 10px;
}

.container {
  margin-top: 60px;
}

#materi-quiz-container.full-screen {
  position: fixed;
  top: -25px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Warna latar belakang opsional */
  z-index: 9999; /* Pastikan elemen berada di atas elemen lainnya */
  overflow: auto; /* Agar konten dapat discroll jika melebihi layar */
}
.btn-music .btn-custom-width {
  width: 15%; /* Ubah nilai ini sesuai kebutuhan Anda */
}

/* #materi-quiz-container.option button {
  width: 200px;
} */
